/*common my style*/
//Google Font: Noto Sans JP
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@font-face {
  //pokemon-font
  //SDN
  font-family: 'pokemon-font';
  src: url('https://cdn.jsdelivr.net/npm/pokemon-font@1.8.1/fonts/pokemon-font.woff2') format("woff2"),
  url('https://cdn.jsdelivr.net/npm/pokemon-font@1.8.1/fonts/pokemon-font.eot') format("eot"),// IE
  //local
  // src: url('@/assets/fonts/pokemon-font.otf') format("otf"),
  // url('@/assets/fonts/pokemon-font.eot') format("eot"),
  // url('@/assets/fonts/pokemon-font.woff') format("woff"),
  // url('@/assets/fonts/pokemon-font.ttf') format("ttf");
}
/* memo for z-index
temoti redister: 1
header: 2
modal: 10
my alert: 100
footer: 1
*/

html {
  font-size: 62.5%;
}
body {
  font-family: 'pokemon-font', 'Noto Sans JP', sans-serif, 'Hiragino Kaku Gothic ProN', -apple-system, BlinkMacSystemFont, YuGothic, 'Yu Gothic', '游ゴシック体', '游ゴシック', Meiryo, sans-serif;
  color: #4e4e4e;
  font-weight: normal;
  font-size: 1.6rem;
  background-color: #fff;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  counter-reset: section;
}
ol {
  counter-reset: table-of-contents-num;
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  overflow: hidden;
  outline: none;
}